fastapi>=0.100.0
uvicorn>=0.22.0
opencv-python>=4.7.0.72
numpy>=1.24.3
websockets>=11.0.3
python-multipart>=0.0.6
httpx>=0.25.0
ultralytics>=8.0.0
torch>=2.0.0
torchvision>=0.15.0
timm>=0.9.0
pillow>=9.0.0
